body {
}

.btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.btn:link {
  color: #ffffff;
}
.btn:visited {
  color: #ffffff;
}
.btn:hover {
  color: #ffffff;
}
.btn:active {
  color: #ffffff;
}
.fixed {
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  text-align: center;
  padding: 20px 0;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.fixed.hidden {
  opacity: 0;
}
